@model Customer

    <form asp-controller="Customer" asp-action="Update" method="post">
        <input asp-for="Id" />
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
        <label asp-for="Age"></label>
        <select asp-for="Age" asp-items="@(Html.SelectListFor(model => model.Age, "List2"))"></select>
        <span asp-validation-for="Age" class="text-danger"></span>
        <br />
        <label asp-for="SubscriptionId"></label>
        <select asp-for="SubscriptionId"></select>
        <span asp-validation-for="SubscriptionId" class="text-danger"></span>
        <br />
        <label asp-for="SubscriptionId2"></label>
        <select asp-for="SubscriptionId2"></select>
        <span asp-validation-for="SubscriptionId2" class="text-danger"></span>
        <br />
        <label asp-for="SubscriptionId3"></label>
        <select asp-for="SubscriptionId3"></select>
        <span asp-validation-for="SubscriptionId3" class="text-danger"></span>
        <br />
        <label asp-for="File"></label>
        <select asp-for="File"></select>
        <span asp-validation-for="File" class="text-danger"></span>
        <br />
        <label asp-for="Folder"></label>
        <select asp-for="Folder"></select>
        <span asp-validation-for="Folder" class="text-danger"></span>
        <br />
        <label asp-for="File2"></label>
        <select asp-for="File2"></select>
        <span asp-validation-for="File2" class="text-danger"></span>
        <br />
        <label asp-for="StatusId"></label>
        <select asp-for="StatusId"></select>
        <span asp-validation-for="StatusId" class="text-danger"></span>
        <br />
        <label asp-for="MailPreference"></label>
        <select asp-for="MailPreference"></select>
        <span asp-validation-for="MailPreference" class="text-danger"></span>
        <br />
        <label asp-for="CountryCode"></label>
        <select asp-for="CountryCode"></select>
        <span asp-validation-for="CountryCode" class="text-danger"></span>
        <br />
        <label asp-for="RadioValue"></label>
        <radio-checkbox-list asp-for="RadioValue"></radio-checkbox-list>
        <span asp-validation-for="RadioValue" class="text-danger"></span>
        <br />
        <label asp-for="CheckboxValues"></label>
        <radio-checkbox-list asp-for="CheckboxValues"></radio-checkbox-list>
        <span asp-validation-for="CheckboxValues" class="text-danger"></span>
        <br />
        <label asp-for="RadioButtonValue"></label>
        <radio-checkbox-button-list asp-for="RadioButtonValue"></radio-checkbox-button-list>
        <span asp-validation-for="RadioButtonValue" class="text-danger"></span>
        <br />
        <label asp-for="CheckboxButtonValues"></label>
        <radio-checkbox-button-list asp-for="CheckboxButtonValues" class="btn btn-outline-primary mr-2 mb-2 btn-lg"></radio-checkbox-button-list>
        <span asp-validation-for="CheckboxButtonValues" class="text-danger"></span>
        <br />
        <label asp-for="YesNo"></label>
        <radio-checkbox-button-list asp-for="YesNo"></radio-checkbox-button-list>
        <span asp-validation-for="YesNo" class="text-danger"></span>
        <br />
        <label asp-for="TrueFalse"></label>
        <radio-checkbox-button-list asp-for="TrueFalse"></radio-checkbox-button-list>
        <span asp-validation-for="TrueFalse" class="text-danger"></span>
        <br />
        <label asp-for="YesNoDefault"></label>
        <radio-checkbox-button-list asp-for="YesNoDefault"></radio-checkbox-button-list>
        <span asp-validation-for="YesNoDefault" class="text-danger"></span>
        <br />
        <label asp-for="TrueFalseDefault"></label>
        <radio-checkbox-button-list asp-for="TrueFalseDefault"></radio-checkbox-button-list>
        <span asp-validation-for="TrueFalseDefault" class="text-danger"></span>
        <br />
        <button type="submit">Add/Update</button>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}